body {
  margin: 0;
  font-family: sans-serif;
  background: #232323;
  color: #f3f3f3;
}
*:focus {
  outline: none !important;
}
*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: #f3f3f3;
  text-decoration: none;
  transition: .2s;;
}
a:hover {
  color: #fff;
}
.pages_headline {
  border-bottom: 2px solid #37bd95;
  display: inline-block;
  padding-bottom: 4px;;
}

/* Add form */
form {
  margin: auto;
  margin-top: 80px;
  max-width: 320px;
  text-align: center;
}
form input {
  background: transparent !important;
  border: none !important;
  border-bottom: 1px solid #37bd95 !important;
  color: #f3f3f3 !important;
  font-size: 16px;
  padding: 8px !important;
  width: 100% !important;
  margin-bottom: 24px;
}
form button {
  background: #37bd95;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s;
}
form button:hover {
  border: 1px solid #37bd95;
  background: transparent;
  color: #37bd95;
}

/* Completed page */
.completed .done,
.completed .edit {
  display: none;
}
.completed .undone {
  display: unset !important;
}

/* Trash page */
.bin .done,
.bin .undone,
.bin .edit {
  display: none;
}
.bin .restore {
  display: unset !important;
}

/* indicator */
.pending .pending-in,
.complete .completed-in,
.trash .trash-in {
  padding: 4px;
  position: absolute;
  top: 0;
  right: -8px;
  background: red;
  border-radius: 50%;
  display: block !important;
}

/* Message */
.show div {
  display: block !important;
  opacity: 0;
  transform: translateY(50%);
  animation: message .2s forwards;
}
@keyframes message {
  to{
    opacity: 1;
    transform: translateY(0);
  }
}